@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

}

body {
  background-color: var(--main-bg);
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
}

a {
  color: var(--primary-cyan) !important;
}

.container {
  margin-top: 5rem;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -2px 20px 100px 4px rgba(0,0,0,0.33), -4px 19px 97px 11px rgba(0,0,0,0.3);
  max-width: 20%;
  }


h1 {
  color: var(--white);
  width: 100%;
  font-size: 1.5rem;
}

.equilibrium-img {
  border-radius: 1rem;
  display: flex;
  width: auto;
  height: auto;
}

hr {
  background-color: white;
  width: 100%;
  color: var(--line-color);
  margin-top: 2rem;
}

.description {
  color: var(--primary-soft-blue);
  font-size: 1.1rem;
  font-weight: 300;
}

.eth-amount {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--primary-soft-blue)
}

.avatar-img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border-color: var(--white);
  border-width: 0.1rem;
  border-style: solid;
  margin-right: 1rem;
}

.creator {
  color: var(--primary-soft-blue);
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#eth-price {
  color: var(--primary-cyan) !important;
}

#bold {
  color: var(--white);
  font-weight: bold;
  margin-left: 0.2rem;
}

@media (max-width: 600px) {
  .container {
    max-width: 70%;
  }
}
